@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Kaushan+Script&family=Seaweed+Script&display=swap');
@font-face
{
    font-family: 'gang-of-three';
    src:url("../../assets/fonts/Gangofthree.ttf");
}
.Menu
{
    display:flex;
    justify-content: center;
    align-items: center;
}
.Menu > ul
{
    display:flex;
    min-height: 100vh;
    z-index:1000;
    background:url("../../assets/JapBagg2.jpg");
    background-size:cover;
    background-position: center center;
    position:fixed;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    top:-120%;
    text-shadow: 2px 2px 2px black;
    background-repeat:no-repeat;
    border:2px solid blue;
    border-radius:2px;
    color:red;
    padding:2%;
    width:100%;
    opacity:1;
}
.Menu > ul > li
{
    margin-top:4%;
    margin-bottom:4%;
    transition:0.4s ease;
    font-size:5rem;
    cursor:pointer;
    font-family: 'gang-of-three','serif';
    list-style: none;
    /* font-family: 'Architects Daughter', cursive; */
}
.Menu > ul > li a
{
    text-decoration: none;
    color:red;
}
.Menu > ul > li:hover
{
    transform:scale(1.1);
    text-shadow:2px 2px 2px blue;
}
.Menu > img
{
    width:14%;
    height:14%;
    z-index:10000;
    cursor:pointer;
    position:fixed;
    top:2%;
    right:7%;
    transition:0.8s ease;
}
.Menu > img:focus
{
    transform:rotate(360deg);
}